/*
  Name: Michael Miller
  File: styles.css
  Date: 04/11/2021
*/

/*CSS Reset*/
body,header,nav,main,footer,img,h1,h3,aside,figure,figcaption{margin:0;padding:0;border:0;}
body{font-family: 'Roboto', sans-serif;}
img{max-width: 100%;display: block;}
/*CSS Header*/
header{text-align: center;}
header img{margin: auto;}
/*CSS Nav*/
nav{background-color: #0054a6;}
nav ul{padding:0;list-style: none;font-family: Georgia, 'Times New Roman', Times, serif;text-align: center;}
nav li{padding:1% 2%;display: block;border: 1px solid white;}
nav li a{color:#fff;text-decoration: none;}
/*CSS Main*/
main{font-size:1.2em;}
h1{text-shadow: 4px 4px 10px #573455;}
#about{}
#contact{}
.link{color: #2374ee;text-decoration: none;}
.mobile{display:block;}
.desktop{display:none;}
/*CSS Footer*/
footer{text-align:center;background-color: #0054a6;}
footer p{color:#fff;}
footer a{color:#fff;text-decoration: none;}
section{width: 95%;max-width: 1200px;margin: 1% auto;box-shadow: 0px 2px 3px 2px #666;padding: 1%;border-radius: 10px;}
/*Tablet View*/
@media screen and (min-width:767px) {
  nav li{padding:1% 2%;display: inline-block;border:none;}
  .grid{display: grid;grid-template-columns: auto auto;grid-gap: 20px;}
  aside{grid-column: 1 / span 2;}
}
/*Desktop View*/
@media screen and (min-width:1200px) {
  .mobile{display:none;}
  .desktop{display:block;}
  nav li:hover{background:#2374ee;}
  .grid{display: grid;grid-template-columns: auto auto auto;grid-gap: 20px;}
  aside{grid-column: 1 / span 3;}
}
